html{
    background-color: rgb(245, 245, 245);
}

.header{
    background-color: white;
    display: flex;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: space-between;
    align-items: center;
}
.logodiv{
    width:170px;
}
.logodiv img{
    width: 100%;
}
.midnav{
    display: flex;
    width: 700px;
    justify-content: space-between;
    font-size: 20px;
}
.midnav a{
    text-decoration:none;
    color: #444;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.midnav a:hover{
    color: #00a8e2;
}
.width170px{
    width:170px;
    
}
.navbar{
    text-align: center;
    color: #00a8e2;
    font-weight: bold;
}



















#container{
    width: 60%;
    margin: auto;
}
#container h2{
    font-size:24px;
    margin-left: 20px;
    color: #444;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#container p{
    color: #444;
    margin-left: 20px;
    font-family:Arial, Helvetica, sans-serif
}
.login-p{
    color: #444;
    /* display: block; */
    margin-left: 180px;
    font-family:Arial, Helvetica, sans-serif
}

#create-account{
    margin:20px 0px 3% 32%;
    height: 40px;
    width: 29%;
    background-color:#ffffff;
    color: black;
    font-size: 16px;
    border: solid black 1px;
    border-radius: 5px;
}

.input{
    height: 40px;
    width: 40%;
    margin: 30px 0px 30px 20px;
    padding: 5px;
    font-size: 17px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: none;
}

#submit{
    margin:20px 0px 3% 32%;
    height: 40px;
    width: 29%;
    background-color:#00a8e2;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}
#submit:hover{
    cursor: pointer;
}